@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --grey-font-color: hsl(228, 12%, 48%);
  --green-color: hsl(158, 36%, 37%);
  --dark-blue: hsl(212, 21%, 14%);
  --margin-top: 0.6em;
  --margin-bottom: 0.4em;
  --font-family1: 'Montserrat', sans-serif;
  --font-family2: 'Fraunces', serif;
  --discount-padding: 0.8em;
  --border-radius1: 1em;
  --cart-radius: 0.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    /* height: 100%;
    width: 100%; */
    background-color: hsl(30, 38%, 92%);
    font-family: var(--font-family1);
  } 
  
  /***** CARD *****/
  
  .card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    /* border: 2px solid blue; */
    height: 90%;
    width: 80%;
    margin: 10rem auto;
  }

  .card {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: center;
    border-radius: 1rem;
    width: 40rem;
    height: 70%;
    margin: 0 auto;
   
  }

  .img-switch {
    background-image: url("images/image-product-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 1rem 0 0 1rem;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    background-color:  hsl(0, 0%, 100%);
    padding: 2rem ;
    border-radius: 0 1rem 1rem 0;
    width: 50%;
    /* border: 1px solid red; */
  }
  
  /****** INFO BODY ******/
  
  @media screen and (min-width: 601px) {
    .product {
      letter-spacing: 0.4em;
      color: var(--grey-font-color);
      margin-bottom: var(--margin-top);
      margin-top: var(--margin-top);
    }
  }
  

  .title {
    font-family: var(--font-family2);
    color: var(--dark-blue);
    margin: var(--margin-top) 0;
    line-height: 100%;
  }

  .prdt_description {
    font-size: 0.875rem;
    color: var(--grey-font-color);
    margin-top: var(--margin-top);
    line-height: 200%;
  }


/***** PRICE STYLES ******/
  .price {
    display: flex;
    column-gap: 1rem;
    margin-top: 2rem;
  }
  
  .cost {
    color: var(--green-color);
    font-family: var(--font-family2);
  }

  .discount {
    /* border: 1px solid blue; */
    padding: var(--discount-padding);
    color: hsl(228, 12%, 48%)
  }

/***** ADD TO CART STYLE ****/

  .button {
    /* border: 2px solid blue; */
    background-color: var(--green-color);
    margin: 2rem auto;
    padding: 1em;
    width: 100%;
    display:flex;
    justify-content: center;
    column-gap: var(--margin-top);
    border-radius: var(--cart-radius)
  }
  
 
  .btn-text {
    font-family: var(--font-family1);
    background-color: var(--green-color);
    border-style: none;
    color: white;
    font-weight: bold;
  }
  
  
  
  
  
  
  
  
  /***** ATTRIBUTION ****/
  
  .attribution { 
    font-size: 11px; text-align: center; 
    margin-bottom: 0;
  }
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
  